[2018-01-29 16:19] yasushisakai opened #1 "fake legos"
The bottom of the lego model is not accurate :(
<img width="529" alt="screenshot 2018-01-29 11 18 25" src="https://user-images.githubusercontent.com/1502180/35520842-3628fa0e-04e6-11e8-9d6f-4372155e270a.png">

[2018-01-29 16:22] RELNO commented on #1
We went for cheaper knockoffs, this is what we got :/

[2018-02-01 18:20] agrignard opened #2 "Global structure of the organization"
This is still not converging.

What about having the Luis picture here for now and then converging together on something. Once this is agreed (doesn't mean it's the final version but at least its version 1.0) then no one can creat e a repository that doesn't fit with the proposal

[2018-02-01 18:28] LAAP commented on #2
I agree with Arnaud. At the same time I was planning to add some basic indications about when to use "CS" and "CSL", etc. and about how to proceed when making a new repository (how to Label it. As an example: "CS_scan_unity")

[2018-02-02 00:03] yasushisakai commented on #2
so the [software architecture](https://github.com/CityScope/cityscope.github.io/wiki/Software-Architecture) has the listing of scanning and categorization of similar functionalities? or is thing for something else?

[2018-02-02 01:00] agrignard commented on #2
Well it's very high level it was to try to understand what kind of
architecture we want feel free to edit or remove it

On 1 February 2018 at 19:03, Yasushi Sakai <notifications@github.com> wrote:

[2018-02-04 04:16] popabczhang commented on #2
Per the discussion with @agrignard, there might be more than 2 categories of repos.

1) function module repos, e.g.: CS_Scanning, CS_Simulation, CS_CityIO_Backend, etc.;
2) City Science Labs repos, e.g.: CSL_Shanghai, CSL_Andorra, etc.;

Now we already have several repos in other categories:

3) template project repos for single software with the complete function modules that can run by itself, e

[2018-02-04 04:29] popabczhang commented on #2
some quick thoughts:

- Should we have CSL_MIT_Media_Lab and put all the Media Lab project (e.g.: CS_CSharpScope_BRT) under it? If so, will the repo be too huge?
- Should software specific module repos (e.g.: CS_Simulation_GAMA) be put under module repos (e.g.: CS_Simulation)?
- Should we put software specific, project specific repos (e.g.: CS_CSharpScope_Andorra, CS_CSharpScope_BRT) under CSL rep

[2018-02-04 14:14] RELNO commented on #1
solved with more polygons
https://github.com/CityScope/cityscope.github.io/commit/a113a6c4bb4b51da016561b736612f5905bd1735

[2018-02-04 14:14] #1 closed

[2018-02-04 16:45] agrignard commented on #2
This issue was open before we agree on the global structure so I should have close it actually.

It's not chaotic it is what we propose for now and it gives enough freedom to someone that want to create a repository. That's what you wanted right?. So let's give it a try

The current structure is this one and it's documented and agreed
https://github.com/CityScope/cityscope.github.io/wiki

[2018-02-04 16:45] #2 closed

[2018-03-02 17:07] yasushisakai opened #3 "define "outside collaborators""
Right now, for this CityScope organization, we have two groups of people. [Members](https://github.com/orgs/CityScope/people) and [Outside Collaborators](https://github.com/orgs/CityScope/outside-collaborators). While the definition of an outside collaborator is already vague, the [repo guide line](https://github.com/CityScope/cityscope.github.io/wiki/Repository-Guideline) does not explicitly defi

[2018-03-08 20:11] yasushisakai commented on #3
@LAAP  @agrignard @RELNO
will close is this no longer in consideration.

[2018-03-10 04:26] yasushisakai commented on #3
closing, re-open when necessary.

[2018-03-10 04:26] #3 closed

[2018-03-14 01:22] RELNO opened #4 "Very naughty of you [also cool. also, lower framerate]"
<img width="255" alt="screen shot 2018-03-13 at 21 20 13" src="https://user-images.githubusercontent.com/14296774/37378181-7eda9dc6-2704-11e8-8fef-167ce12cd438.png">

[2018-03-14 13:44] yasushisakai commented on #4
[this software is cool](http://ephtracy.github.io/)

[2018-03-14 14:06] RELNO commented on #4
I'll allow it.

[2018-04-03 04:13] yasushisakai opened #5 "Name of tools are too abstract"
This is subjective, but I feel creative alternatives are needed for following repo names.

If things are combined separate the functionalities to single repositories. If it needs to be linked, use another repo that uses submodules(recommended) or a readme to indicate the dependencies.

CS_Toolbox
CS_Hardware
\*\*Template
CS_CSharpScope_\* (with the exception of BRT)
CS_DataVisualization

[2018-04-03 13:13] RELNO commented on #5
@yasushisakai any alternative naming suggestions?

This might allow dozens of repos, each with minimal code -- is this something we want?

[2018-04-03 14:59] yasushisakai commented on #5
naming proposals, Note I'm not aware of these programs so, forgive me if I'm acting arrogant.

CS_Projection_Mapping_JS
CS_Hardware_Specs
CS_CSharpScope
CS_CSharpScope_* (ultimately a branch but we have the other issue in consideration...)
CS_DataVisualization (I have no idea what this is)

I guess we want to experiment how we feel if we have so much tiny code repos, after all we won't perceive it

[2018-04-03 18:53] agrignard commented on #5
CS_DataVisualization was an empty shell at the very beginning to host something like andorra_RNC in a simple mapbox/carto/etc generic way.

I see that @doorleyr put some stuff here but not sure if it's relevant

[2018-04-04 15:47] doorleyr commented on #5
Regarding, CS_DataVisualization I agree it should be renamed. @agrignard the stuff I put in there is a dashboard for visualisation of mobility based on telecoms data. It's currently being used for the RNC but can easily be adapted for Cuebiq, TalkingData etc. So maybe it can be something like CS_MobilityDashboard or CS_TeleMobility?

[2018-04-04 20:30] yasushisakai commented on #5
add RNC? or its not limited to that

[2018-04-05 14:26] agrignard opened #6 "MIT Disclosure procedure"
We have to work on that. Assuming that every repo has a licence it should be doable

https://tlo.mit.edu/disclose-protect-your-intellectual-property/disclosure-faqs

[2018-04-05 14:27] RELNO commented on #6
**UPDATE: This must be done PRIOR to putting the tools online!**
This is the form we should all use:
http://ipsw.media.mit.edu/create/

[2018-04-13 23:00] RELNO opened #7 "Specs to be merged with CS_Hardware"
Thanks for adding this -- https://github.com/CityScope/cityscope.github.io/wiki/Specification-for-CityScope-system
should be merged and renamed into https://github.com/CityScope/CS_Hardware to avoid duplication.
CS_DEPLOY for naming?

[2018-04-14 09:38] yasushisakai commented on #7
Does this

mean changing the repo's name to ```CS_Hardware```?

I've thought of this, but Hardware (which currently is (one kind of) table) deserves to focus on hardware. Like setting up the camera the right way, recommended LED panels for efficient lighting, different alternatives for the table (dominant wood version), methods in projector mounting(how many degrees of freedom is preferable),,, so

[2018-04-14 09:39] yasushisakai commented on #6
No action or change on [policy](https://github.com/CityScope/cityscope.github.io/wiki/About-Licences) at this point.

[2018-04-14 09:39] #6 closed

[2018-04-14 13:40] RELNO commented on #7
The other way around: We can make CS_Hardware a one-stop-shop for deployment/setup/spec details. [eg CS_DEPLOY / CS_BUILD  or any other exciting name..]
Simplicity is key here, the main reason we're having this conv. is because one could not find a 'one place' for all things 'deploy'.

 I don't think we should have `cityscope.github.io` repo mixed with this -- to me, this is a general, high level

[2018-04-15 01:27] agrignard commented on #7
my 20 Cents, I think it's not that bad in the wiki of cityscope.github.io which is the kind of global entry point no?
Then what kind of code would we put in CS_Deploy? It looks like it's only documentation?

[2018-04-15 01:30] RELNO commented on #7
@agrignard if so I'd merge CS_HARDWARE into here.
 Although, if we want to be 'really open' to the world, a clean [eg - no code] repo that is only dedicate to 'Deploy' stuff is a bit less intimidating.
In both cases, we should have only one entry point.

[2018-04-15 01:34] agrignard commented on #7
Well a repo with no code is basically a wiki no?

The repo would be needed for what? cad files for instances?

[2018-04-15 01:42] RELNO commented on #7
@agrignard take a look into `CS_HARDWARE`; it's not code, but manuals that cannot be on wiki [cad/cam files]. cityscope.github.io repo has stuff that would not be cloned/foked if you only build a simple table.

[2018-04-15 01:52] agrignard commented on #7
Yes that s what I saw, there is some pdf and some Cad... not really code but why not.

[2018-04-15 01:56] RELNO commented on #7
we can always have an SDK page on the ML site ;)

[2018-04-15 20:45] RELNO commented on #7
@yasushisakai @agrignard If there are no objections I'm merging `Hardware` into `cityscope.github.io`

[2018-04-15 21:13] yasushisakai commented on #7
If it is going to be binary,
why not in the this repo's wiki's repo?
https://github.com/CityScope/cityscope.github.io.wiki.git

[2018-04-15 21:15] RELNO commented on #7
@yasushisakai Can this hold `dxf` or `pdf`? Also, how easy it is to point someone to this as a starting point?

[2018-04-17 12:23] yasushisakai commented on #7
yes, just like a normal repository, it will hold anything.

On Sun, Apr 15, 2018 at 5:15 PM Ariel Noyman <notifications@github.com>
wrote:

--
Yasushi Sakai
yasushis@mit.edu
+1-702-831-2195

[2018-04-17 14:50] yasushisakai opened #8 "merging JS and Backend"
We see an emerging ecosystem  of the Javascript Suite that @RELNO has been working, we would like to think about how we structure an one-stop solution using (only) JS.

- no external downloads (like Unity, Rhino)
- cross platform
- minimal configuration of the camera
- various visualizations

@popabczhang  @agrignard  @doorleyr  @RELNO  @LAAP

[2018-04-17 15:33] RELNO commented on #7
Done -- see new readme + hardware
@yasushisakai @agrignard @popabczhang @LAAP @doorleyr - please contribute to this wiki as a one stop shop for deployment. Thanks

[2018-04-17 18:51] yasushisakai opened #9 "procedure for adding repos in this org"
This is the proposed procedure of adding new repositories to this github Organization. The reason behind this is to constrain the number of repo's.

1. First develop your code in your own personal account
2. Once you have the initial version (working) discuss collectively whether it's worth it having it official
3. If approved, we add it on the list

[2018-04-17 18:52] RELNO commented on #9
Agreed

[2018-04-17 19:17] yasushisakai commented on #9
The contradiction was that, we started to have no constrain on how we add repo's (to have an open community), but the organization was unclear about the privilege who gets which rights, which constrains who can add (closed). (Although, I thought I had it clear on the wiki)

The proposal is to have a standard and democratic procedure to add repo's so each time we are sure what to add.

[2018-04-17 19:19] yasushisakai commented on #9
(Me personally I don't think having a lot of repo's is a problem, if we have a clear enough entry point to new comers.)

[2018-04-17 19:19] yasushisakai commented on #9
but I agree.

[2018-04-17 22:43] doorleyr commented on #8
I've also been working on real-time modelling and vis of O-D flows and traffic flows in response to changes in CityIO using JS with a Python server. @LAAP also has been working on radar plot using JS with a Processing server. We should think about consolidating all of these things.

![screen shot 2018-04-17 at 18 42 50](https://user-images.githubusercontent.com/7722116/38902601-3b7e6662-426f-11e8-

[2018-04-18 01:32] yasushisakai commented on #8
I hope to raise this on the next (actually mono weekly, not so much) biweekly meeting

[2018-04-18 01:51] popabczhang commented on #8
That make whole a lot of sense. Ariel's effort of "JSlize" CityScope was
also a promising demonstration. Yet we still have a lot to do before it
became a complete CityScope system. As a "baby"(term credit: Luis) in JS, I
wonder if someone could do a "getting started" tutorial about JS basics and
CityScope relavent libraries/resources? That would be very helpful.

On Tue, Apr 17, 2018, 3:21 PM Yasu

[2018-04-18 19:10] LAAP commented on #8
I am with @doorleyr and @yasushisakai, let's talk about this at our next meeting.

Thank you @popabczhang! Most of the heavy lifting was made by @lucascassiano, but I keep learning. Regarding the "getting Started" I totally agree with you! I think that it could be super cool!

[2018-04-19 21:17] popabczhang commented on #9
I agree with the new procedure. A good balance.

[2018-04-20 05:55] popabczhang opened #10 "Large File Solution for China"
(Not sure if this is the best place to raise this, let me know if not)
Per discussion today at lunch with @agrignard @LAAP @doorleyr, we need a solution for getting sending/getting large files to China (e.g. 4K videos for projection mapping).
I did some research and speed test with @SutaBeacon, the following service can get large files in China that uploaded here, vice-versa. But each of them has

[2018-04-20 10:49] yasushisakai commented on #10
- should this be a shared folder? (does every one need to see it?)
- is it possible to have a plain ftp (or smb) server (drive) at China? (typically just a ubuntu box)
- if not 4, 3, 2, 1
- LFS is command line only, I'm tired to persuade people.

[2018-04-20 11:45] RELNO commented on #10
Didn't have any issues with DB post vpn setup. It's China, not the moon ;)

[2018-04-20 16:52] popabczhang commented on #10
@yasushisakai @RELNO agree with both.
I talked to @SutaBeacon about setting up the server in China. It's possible but takes time.
Let's try to stick with option 4 as for now. We need to get a really good commercial VPN that works in China then. @SutaBeacon can help on that.

[2018-04-20 16:54] popabczhang commented on #10
@yasushisakai , Will @SutaBeacon get notification if I @ him here?

[2018-04-20 18:23] yasushisakai commented on #10
I don't know this is Github's feature particularly not git.
One thing, he seem not to be an outside collaborator, since he is not assigned to be a contributor to any repo. ( ... different topic, and I don't know if this is written any where, but doesn't at least one person from each city needs to be assigned as the contributor for CSL_X repo?)

in the meantime looks like he can subscribe?

<img wi

[2018-04-20 18:40] popabczhang commented on #10
I see, I will ask him to subscribe this issue.

On Fri, Apr 20, 2018 at 2:23 PM, Yasushi Sakai <notifications@github.com>
wrote:

--

YAN ZHANG "RYAN"

PH.D. STUDENT, ASSISTANT RESEARCHER
MEDIA ARTS & SCIENCES, MEDIA LAB
MASSACHUSETTS INSTITUTE OF TECHNOLOGY

M.S. ADVANCED ARCHITECTURE DESIGN
COLUMBIA UNIVERSITY IN THE CITY OF NEW YORK

20 AMES STREET, BUILDING E15-368
CAMBRIDGE, MA 02142

1(917)7

[2018-04-20 18:50] popabczhang commented on #10
![image](https://user-images.githubusercontent.com/2801912/39068270-c23eacf2-44a9-11e8-8956-404daaad0796.png)
Suta is a collaborator of `CSL_Shanghai` repo. But he didn't show up in the outside collaborator session of the org. Maybe because that he hasn't accepted the invitation or hasn't committed anything yet.

[2018-06-26 15:08] agrignard commented on #7
I just fix a broken link in the wiki as the repo doesn't exist anymore.
https://github.com/CityScope/cityscope.github.io/wiki/Specification-for-CityScope-system#hardware

Maybe the wiki need some refactoring according to this new modification?

[2018-07-03 12:53] yasushisakai commented on #9
We have collectively decided to make it free for every member to add, let natural selection (metabolism) make its way. @RELNO have also suggested to have a clean up session annually.

[2018-07-03 12:53] #9 closed

[2018-07-03 12:53] #8 closed

[2018-07-03 12:53] #5 closed

[2018-07-03 12:55] yasushisakai commented on #10
@popabczhang Just wanted to make sure if this is still a issue, was Suta able to push code? (or PR?)

[2018-07-03 13:07] yasushisakai opened #13 "creative commons licence?"
kind of related to #7

I purpose we add the appropriate creative commons license to this repo.
Note that this repo includes the hardware stuff, which is also not code.

The discussion is that which license,
From my current understanding, we want to
- share alike:  make sure everyone uses the same license if someone adopts it and remixes it
- not for commercial

which is fine but the site implies y

[2018-08-31 16:27] yasushisakai commented on #10
closing

[2018-08-31 16:27] #10 closed

[2018-08-31 16:27] yasushisakai commented on #7
closing

[2018-08-31 16:27] #7 closed

[2018-08-31 16:28] yasushisakai commented on #13
no one cares, closing

[2018-08-31 16:28] #13 closed

[2018-08-31 17:01] yasushisakai opened #14 "kill CSL? wiki?"
I'm ok with redundant repo's letting it go with [neo-darwinism](https://en.wikipedia.org/wiki/Neo-Darwinism), but IMO the concept of CSL repos does not seem to work. (I'm not blaming, we are testing things out) @agrignard @popabczhang @LAAP @doorleyr

couple of findings how this org is used.

- Submodules are too hard for people.
- a wiki is enough for CSL (what do we store when eventually everyth

[2018-08-31 17:13] RELNO commented on #14
@yasushisakai as HCU are here next week, I'd keep this as an option [i.e -- please join this amazing os effort etc]. But in overall I agree.

[2018-09-01 16:32] agrignard commented on #14
I don't get everything you say here Yasushi, but for sure once again the initial design is clearly not followed. No one managed to have any cities on board yet on CityScope organisation so yes all the CSL_XXX are dead, does it mean we have to kill them I don't know.

It could have been the good place to at least document what's happen in a project at least by editing the wiki but it seems to compl

[2018-09-01 19:17] agrignard commented on #14
@yasushisakai I don't understand this part, can you rephrase it for me?

[code]

[2018-09-01 23:12] yasushisakai commented on #14
@agrignard I wanted to point that there is another path (not killing CSL repos) but to think about improvements to the current concept, and give examples that some teams adopt similar ```CSL```like workflow.

[2018-09-01 23:24] agrignard commented on #14
BTW I forgot to mention in this issue the only CSL_XXX repo that is alive
https://github.com/CityScope/CSL_Lima

[2018-09-03 15:13] popabczhang commented on #14
The following repo is very much actively worked on by Ronan, Weiting, two
researchers in Shanghai, and me:
https://github.com/CityScope/CSL_Shanghai_LivingLine_Data_Analysis
More repos from CSL Shanghai, such as computer vision for camera data, is
coming.

The CityScope Unity repo for LivingLine is currently under CSL@Shanghai
org:
https://github.com/CityScienceLabSH/CSL_Shanghai_LivingLine_Unity

[2018-09-03 20:04] agrignard commented on #14
thanks @popabczhang  indeed your right I fogot this 2 one sorry

So here is the list which maybe reput in question @yasushisakai  initial's question:

https://github.com/CityScope/CSL_Shanghai_LivingLine_Data_Analysis
https://github.com/CityScope/CSL_Helsinki
https://github.com/CityScope/CSL_Lima

[2018-11-21 19:01] RELNO commented on #14
Given the growing usage of the CSL format, it safe to assume we keep it. Closing for now.

[2018-11-21 19:01] #14 closed

[2019-11-07 16:36] agrignard opened #15 "CityScope Unification/Standardisation"
This is an attempt to have a common place to discuss on the unification task. Nothing is set in stone but at least let's try to converge on a common place to discuss.

What we have so far (not pretending to have an exhaustive view so feel free to complete/comment)

So here the current entry point that should be used to unify everything and that should be included in the wiki if everyone agree:

-

[2019-11-08 00:50] RELNO opened #16 "Archive Inactive Repos"
[putting as meta issue here to avoid issue per repo, for now]
As discussed, please archive/remove stale repos. As rule of thumb, a repo you're not planning to maintain or wouldn't remember how to maintain, is probably worth archiving.

 A few examples (just random pick from 2nd page):
https://github.com/CityScope/CS_Andorra_Table_Demo
https://github.com/CityScope/CS_SpatialDashboard
https://github

[2019-12-11 18:28] RELNO commented on #15
Reiterating from the email chain:

To allow for CityScope to be generic and reusable as possible, it's analysis modules must expect always the same values/data. Therefore mapping should occur as part of the onboarding process for new CS (like we're currently facing in Grasbrook, Aalto, and soon in Mexico). This is roughly how I'd imagine this process taking place:

![image](https://user-images.git

[2019-12-12 15:54] LAAP commented on #15
Hi, Can we should have Markus and Alex in this conversation. Maybe we can have a face to face meeting.

[2019-12-12 16:06] doorleyr commented on #15
Here's my proposal (which is similar to Ariel's idea above):

Assuming we agree on a list of standard land uses, we also need a number of mapping files. I think we can solve the whole issue with the following text files (examples can be found for Detroit here: https://github.com/CityScope/CS_Mobility_Service/tree/master/scripts/cities/Detroit/mappings):

lu_types.json
a list of LU types we agree o

[2019-12-12 16:21] yasushisakai commented on #15
to me there are two things to build consensus.

1. Mapping of the block definition
2. The data format of each table

## 1. Block Definition
One approach will be having a centralized hub that contains all of the block definition. The structure of that database is another discussion, but having a unique id(hash) for each definition may be handy for modules to lookup in O(1). Human users will also be

[2019-12-12 16:27] LAAP commented on #15
OK, here is my migration from gmail:

@Ronan, the new profiles are aligned with the goals of the Urban Indicators (RADAR), I think that they emerged nicely from the set of data. Even when, probably a different place/country/city will have a different segmentation and behaviour, I think that this is a fantastic baseline.

In my side I have some issues:

1) I am starting to think how can I migrate t

[2019-12-13 01:37] RELNO commented on #15
Mapping of the block definition
The data format of each table

@yasushisakai can you please provide an minimal example of each? I'm not 100% sure I get the difference

[2019-12-13 02:38] yasushisakai commented on #15
# Block Definition
block definition is **what** kind of information that unit holds.
ex:
[code]
[code]
this can be anything and the JSON format is IMO very hard to standardize. Thus, hash it
[code]
this might be one endpoint, for the modules to refer:
[code]
this might be for someone looking for similar block, giving you two entries
[code]
this might be blessed block definitions that are curated b

[2019-12-13 02:51] yasushisakai commented on #15
It's kinda close (not same) to package managers such as `npm` but inverted. You have a list of packages, that all have versions. which itself is versioned

[2019-12-13 19:28] MarkusElKatsha commented on #15
Hello:
To add to Ariel's entry above, I'm writing about INPUT DATA ONLY; Its important we standardize input data so that modules can be used across tables and so that we can collaborate with other labs developing analysis tools or modules - like the CRE or the CityForm Lab at Harvard.

Another conversation will could develop around CityScience Standards, which aggregate information into types we a

[2019-12-15 21:35] agrignard commented on #15
@MarkusElKatsha I don't understand what you mean by "General, Type, Activity, Specific Activity". I would say that the number of digit is related to the granularity of the description or subcategory.

Also by looking more in detail in this standard, it seems important to understand that LBCS is made of **five dimensions: activity, function, structure, site, ownership**. Do we want/need to keep thi

[2019-12-16 15:26] RELNO commented on #15
Yes, we'll probably have  minimal 20 characters (5*4 of type int xxxx) describing only this entity. This taps into what @yasushisakai described in the concept of hashing the unique types in a searchable dictionary.

[2019-12-16 15:36] yasushisakai commented on #15
I've dug a bit about Germany Land Use for interoperability of the proposed LBCS Schema.
https://vtechworks.lib.vt.edu/bitstream/handle/10919/48185/hirt_to_zone_or_not_to_zone.pdf
@RELNO, @MarkusElKatsha  correct me if this is not the case.

I can personally relate to the German way of thinking since it is (not completely but) similar to [planning in Japan](https://devonzuegel.com/post/north-americ

[2020-02-17 14:10] dunland opened #17 "table CAD files"
Hello everyone,
I can't imagine to be the first one to ask, yet I couldn't find any information on this:
Do you provide the CAD files for the table setup as well? There are great DRAWING-ASSEMBLY(.pdf) instructions in the repo, but to apply our own adjustments, we'd be happy to receive the raw CAD files!
Any place I forgot to browse?
Thanks in advance!

[2020-02-17 14:15] RELNO commented on #17
Hi @dunland, we have some CAD instructions for panel laser cutting here https://github.com/CityScope/cityscope.github.io/tree/master/CS_Hardware/CS%20TABLE_KP_15/LASERCUT%20Drawings, however not the whole table is in CAD unfortunately.
One thing to point out is that the PDF represents a specific varient of CityScope. In many (actually - most) other cases, tables are customized to fit a different s

[2020-02-17 14:22] dunland commented on #17
Thanks for the quick reply. In that case I guess I will have to redraw the measures as depicted in https://github.com/CityScope/cityscope.github.io/raw/master/CS_Hardware/CS%20TABLE_KP_15/DRAWING-ASSEMBLY.pdf and adjust it according to my needs.

[2020-02-17 14:22] #17 closed

[2020-02-17 14:27] RELNO commented on #17
@LAAP can you share the Grasbrook frame drawing with @dunland? This is a newer version which is far larger and is designed to sustain intensive user interaction without interface to the scanning system

[2020-02-17 22:14] RELNO commented on #17
@dunland please take a look at https://github.com/CityScope/cityscope.github.io/tree/master/CS_Hardware/CS%20TABLE_KP_15/CAD, thanks to the Karthik who designed the tables, this folder now holds CAD and 3D of the design. Hope this helps.

[2020-03-30 15:02] yasushisakai opened #18 "Cannot deploy build to GH-PAGES in this repo"
clean up this repo in alignment with the standalization effort

[2020-03-30 16:57] agrignard commented on #15
Results of the 03/30/20 meetings something like this (with slight modification) can be used even if there is still some discussion especially for the physical attribute

[code]

[code]

[2020-03-30 19:51] RELNO commented on #18
@yasushisakai can you take a look at https://github.com/CityScope/cityscope.github.io/tree/%2337_cleanup and suggest a way to scroll between the upper viz and lower docs part?

[2020-03-31 13:52] MarkusElKatsha commented on #15
Example 1, CS Type - Mixed Use: Ground Level Retail (store and bank), Upper Levels Residential
[code]

Example 2: CS Type - Singe Use: Housing

[code]

[2020-04-01 09:18] doorleyr commented on #15
I agree with differentiating between levels but we can't be explicit about floor numbers (i.e. levels 1-4, 2-6 in the example above) because we don't know how many floors there will be. This is why we use percentages. I think the exception is defining ground floor vs upper floor uses. Below is my proposed edit to the example above where ground floor uses and upper floor uses are defined separately

[2020-04-01 15:23] MarkusElKatsha commented on #15
Hi - I see two issues, how we define or each grid and how the definition gets updated through user interaction. I also hope that the schema we pick is flexible enough to allow for course or more granular definition of each grid.

In my mind, all attributes could be dynamic, depending on the interaction design. For more complex interactions, users may have the opportunity to define where upper leve

[2020-04-02 02:52] RELNO commented on #18
@yasushisakai can you help with solving this niche issue https://dev.to/javascripterika/deploy-a-react-app-as-a-github-user-page-with-yarn-3fka
TLDR: on user page, there is no gh-pages option, but all has to be deployed from master. I don't know if this will make things weird.

[2020-04-02 19:29] LAAP commented on #15
After our last meeting and several conversations with most of you I am convinced that in terms of types, this is how we could operate (At least as a first iteration):

**1) Type = Person ID:**
The data in the string needs to be the minimum information for the modules to understand "who is the type".  In USA person has a "Name" and "Last name". In our case the types will have a "LBCS" (Land use) an

[2020-04-06 19:40] MarkusElKatsha commented on #15
I have a few questions/comments after conversations with Arnaud and Luis.

The fundamental questions are:
1 -  How is "global information" unique to each site stored?
2 - What is the [minimum] information required for each cell of a grid?

Initially, I had assumed that each cell, whether fixed or dynamic, would include all information about that cell (or tile). But after conversations, my understa

[2020-04-08 12:05] doorleyr commented on #15
A few comments/updates I would make to Markus' last suggestion:

- FAR 3:1 should be just FAR 3.0 that way it's a float, not a string.
- We don't need to specify a different color for every use. There's no way the front-end is going to have a single floor in 2 colors. I'd say one color per type or at most one color per floor. @RELNO thoughts on this?

As for what is the minimum information, I woul

[2020-04-08 13:18] RELNO commented on #15
FAR is a tricky piece of data which cannot easily be adopted to many of our case studies. I suggest having FAR as optional indicator (like noise or water).

There are ways (though complex) of multi coloring elements. However, for brevity we should keep the color per main usage. So if the building/parcel is mostly housing, it will follow housing color. A click on this object will show the breakdown

[2020-04-08 19:13] doorleyr commented on #15
I chatted to Markus a bit more about this and I think we're all on the same page now. I think we can move on to making a list of sample types and trying a first pass of implementation.
Do we use the README or wiki for sample types and post the actual types for each project to its table on cityIO?

[2020-04-08 20:19] RELNO commented on #15
OK great. I've been building a dot md renderer so that cityscope.media.mit.edu could serve the docs (same as CSjs). It's ready, however I need @yasushisakai help to deploy it using our url. So in the meantime you can clone the branch #37 cleanup and edit the mds there. We'll deploy in the next few days

[2020-04-09 15:51] RELNO commented on #18
@yasushisakai any input on this? I can merge the pull but then will have to hold a __SRC__ branch for the source, and the Master will be the build. It's not a pretty solution though

[2020-04-09 17:11] MarkusElKatsha commented on #15
FAR can be expressed as two variables:

1. Foot print (expressed in square-meters)
2. Total built up area or BUA (express in square-meter)

My sense is that both variables could be dynamic.
Please excuse Syntax Errors. Following is an example of ground level Bank and Store, upper levels Residential:

Example 200409, CS Type - Mixed Use: Ground Level Retail (store and bank), Upper Levels Residentia

[2020-04-17 13:52] LAAP commented on #15
@MarkusElKatsha , I think this is great, however, I think that this is the task for a backend module.

The minimun information needed is the "%" of NAICS and LBCS in each "cell". The "Urban-Module" in the back will "Mix it" and "produce" a type, based on the local legislation, the interaction from the table (slider giving the number of floors), etc.

[2020-04-17 14:18] yasushisakai commented on #18
Just breaking down the action points:

1. merge the `dev` to `master`
2. `build` inside `master` branch (in `/docs`?)
3. commit & push `master`
4. check the url

I'm not sure about the CNAME stuff but let's see how that turns out.

@RELNO missing anything?

[2020-04-17 14:29] agrignard commented on #15
so potentially (new) current one:

[code]

[code]

[2020-04-17 14:45] RELNO commented on #15
https://books.google.com/books?id=3spWR8wdGaQC&pg=PA706&lpg=PA706&dq=lbcs+zoning+density&source=bl&ots=vENJWYoT61&sig=ACfU3U3i05ra2aKNby9To7PZfP3j80FhjA&hl=en&sa=X&ved=2ahUKEwjNl4eJ2e_oAhUSlnIEHSemAnwQ6AEwA3oECAwQKQ#v=onepage&q=lbcs%20zoning%20density&f=false

density in LBCS

[2020-04-17 14:58] RELNO commented on #15
Proposal for compounded types (per @agrignard ):

[code]

[2020-04-17 15:33] RELNO commented on #18
I'm not sure I understand 1.
If you merge Dev to master you just have both Dev and master holding the same data, no?
My understanding is that master should be only holding a built version (same as GH-pages in other repos)

[2020-04-17 15:48] yasushisakai commented on #18
My thinking was `master` will show which version is actually being deployed, where the `dev` can be still be half baked and left for discussion.
Other than hurting your eyes, Git internally keeps only one copy of the file contents across branches, so duplicate things in `master` and `dev` won't hurt in terms of storage or performance.

[2020-04-17 15:51] RELNO commented on #18
Sounds good -- do you want to try and deploy to see if this can work? I'm under the assumption that `master` has to have only the "dirty" build, but I'll be happy to stand corrected.

[2020-04-17 15:52] yasushisakai commented on #18
but, if we choose, we can always delete the src part in the `master` (or create a pre-commit) and just leave the `doc` folder. To clarify, the `doc` is the meat right? or is at the `/root` level?

I'll dig in.

[2020-04-17 15:53] RELNO commented on #18
`doc` must stay in `dev` as it is being read from there to the frontend.

[2020-04-18 02:23] yasushisakai commented on #18
The basic idea of [the site you mentioned earlier](https://dev.to/javascripterika/deploy-a-react-app-as-a-github-user-page-with-yarn-3fka) is the same for what I was thinking, but looking into her actual `user`.github.io repo:
https://github.com/JavaScriptErika
looks like her project lies at the repo root. Which is slightly different than our case having `cityscope` folder as the project root. Whe

[2020-04-18 14:00] RELNO commented on #18
I can move the content of `cityscope` to the `root` of `dev` but I don't think it's necessary since we're anyway building to another branch.
As for the `doc`folder -- they are statically linked by the `md` parser, so they could be anywhere, they are never being added as part of the build:

[code]

// this is the static link
   **"https://raw.githubusercontent.com/CityScope/cityscope.github.io/dev/

[2020-04-20 16:52] LAAP commented on #15
@MarkusElKatsha , this book is very important! Please, read it. We should add this reference to our "official text"

[2020-04-21 20:50] #18 closed

[2020-04-23 14:40] doorleyr commented on #15
I created a draft of the CS Types documentation here:
https://github.com/CityScope/cityscope.github.io/blob/ronan/docs/md/Land-Use-Types.md

This is based on the multi-level nesting that we agreed on at the end of the last meeting. The format is very similar to @agrignard's [example](https://github.com/CityScope/cityscope.github.io/issues/15#issuecomment-615292616) with one important difference. I

[2020-04-23 16:18] LAAP commented on #15
Hi @doorleyr ,

I think this is great!

My plan is to build the basic/historical CS types that I am drafting in the architectural way here:
https://docs.google.com/spreadsheets/d/17qAILto20ncNKMljwksYA-wsys3b8xHDxWflsA_LjjE/edit?usp=sharing

But that I will define in a "coding way", ASAP. The list today is the following:

**| CS Amenities**

1 | Hotels

2 | Restaurants

3 | Night live

4 | Leisure

[2020-04-24 17:46] MarkusElKatsha opened #21 "CS Types - Question"
Hello Ronan - The above is great!

I have a few questions/comments. Please note the following:

Comment: should a type include information about utilization or capacity (in the same way we use S, M, or L on the Volpe table)? I do not think it should be S,M,L, but we could use a person/meter or some scale factor to add to the definition of components within a type. IE: For a given land-use, we need

[2020-04-24 18:22] doorleyr commented on #15
In response to Markus:
https://github.com/CityScope/cityscope.github.io/commit/0fa176a103a41217e81d70d2fcba043bbb852c79#commitcomment-38725441

I think some measure or utilisation or capacity is important but since we haven't been able to agree on what this should be (people/area, units/area, income level) or if it should even be part of the type, I think we should allow this to be project-specifi

[2020-04-24 19:06] LAAP commented on #15
I agree with @doorleyr

[2020-04-24 19:15] #16 closed

[2020-04-27 10:27] doorleyr commented on #15
I think we're agreed on the structure at least so I'll create draft type lists for Corktown/GB and post them to cityIO so we can start working on implementation. We will still be able to easily iterate on content after this as long as the structure stays the same.

[2020-04-27 13:35] MarkusElKatsha commented on #15
What are the land uses needed for Corktown? Do you have a list? Is it the list Luis published above?

[2020-04-27 13:50] LAAP commented on #15
Hi Markus,

I am already working on this. I have made a first correlation in the Google doc, and I am working into a first-draft-of-a-translation into "code" for this week. I will share ASAP.

https://docs.google.com/spreadsheets/d/13doHHa1A4jAQ886ehkBUvIf6j9HDaMF6FZJV5A6fZ68/edit#gid=593854283

The Corktown list is:

"1": "Residential"
"2": "Office"
"3": "Retail"
"4": "Lab_Light_industrial_Makers

[2020-04-29 12:01] doorleyr commented on #21
Closing as this is duplicating discussion in another issue: https://github.com/CityScope/cityscope.github.io/issues/15

[2020-04-29 12:01] #21 closed

[2020-04-29 12:09] doorleyr commented on #15
@LAAP I'm creating a draft of the type list for Corktown today, in the json format, using your spreadsheet as a reference. So don't worry about creating the json structure.

[2020-04-29 15:06] LAAP commented on #15
@doorleyr , Ok, awesome. Thank you! I am making a Json format for the general CityScope types. So after we can also review, share and comment both lines of work

[2020-04-29 16:22] doorleyr commented on #15
I created the examples for Corktown and Grasbrook so we can now work on the implementation:
https://cityio.media.mit.edu/api/table/corktown/GEOGRID/properties/types
https://cityio.media.mit.edu/api/table/grasbrook/GEOGRID/properties/types

The contents of the types will be subject to change (especially GB as I just made very basic definitions) but we can still start updating the code and testing t

[2020-04-30 00:52] LAAP commented on #15
### **City Science Types**

Let me share the first draft of the City Science Types. They are builded by following the following Json structure, agreed in previous talks and issues:

---

![image](https://user-images.githubusercontent.com/19315213/80659475-12c66080-8a57-11ea-8b2b-211df301be25.png)

---

…Here are the proposal for the City Science Types

---
### **| CS Amenities**

**1 | Hotels**

!

[2020-04-30 01:32] RELNO commented on #15
@LAAP thanks, two notes:
- some types are extremely complicated (like 23.3 –Wholesale). I'm in favor of having the baseline types way simpler to read, trackback and understand. If we give this complexity as baseline, a "complex" type would be longer.
- you can paste json using 3 times " ` " before and the same after, so:

[code]

[2020-04-30 08:24] agrignard commented on #15
Good job @LAAP

I also have some question/comment:

1.  so yes to save you and us tons of time instead of creating a png than cannot be copy/paste you can use the " ` "
to do this
[code]

2. And I am actually surprised and a bit worried by the complexity of some (not to say many of them) of types that seems intiaily some simple for instance: manufacturing?food market, clinics etc.What really surpr

[2020-04-30 11:03] doorleyr commented on #15
Thanks @LAAP, this is great.
A few comments on the draft and response to @RELNO and @agrignard 's comments:

- The reason for having 2 levels of nesting in the json structure for each type was so we could capture groups of floors (eg. retail on ground floor, offices mid, and hotel at the top) as well as the mix of uses in each floor group. However, key-value pairs do not preserve ordering. If I re

[2020-04-30 15:09] LAAP commented on #15
Thank to @All,

I totally agree. this was a first iteration trying to cover all the granularity of the NAICS, and maybe useful for @cristian. Maybe his module can take the basic type and reed the granularity in his side.

So, my next steps are:

- I can make a simplification of the types.

- I can also reduce the number of types to have a very basic short list

- I will keep the 2 levels of nestin

[2020-05-06 23:56] LAAP commented on #15
**| CS Classification Amenities**

Dear @all,

Here I share a second iteration. I have reduce the number and complexity of the list. However, we still have a lot of "symple" Classes (29):

3 Residential
11 Amenities (it can be reduce into 7 if needed)
1 Park
1 Transportation
1 Safety
1 Wellbeing
1 Health care
5 Office (it can be reduce into 3 if needed)
4 Industry (it can be reduce into 1 if neede

[2020-05-07 10:41] agrignard commented on #15
@LAAP great job!

I would be in favor if it possible to reduce it to 20 (I think we can already do a lot) and it will be already challenging to integrate all of them and also easier to maintain with fewer

[2020-05-07 19:46] LAAP commented on #15
Thank you @agrignard ,

Please, @RELNO, @doorleyr , @MarkusElKatsha , let me know if I should reduce the classes into 20 as @agrignard  suggested or Keep it as it is now in 29

[2020-05-07 19:53] RELNO commented on #15
@LAAP I'm agnostic to how many, the goal is to have the minimal number of types to start a simple table, and a baseline to extend it later.
I do have a few comments on the format:

` "color": {"rgb(0,0,255)}"`
I'd prefer using hex color scheme (https://www.color-hex.com/) which is thinner in size, reduces errors due to wrong ',' location etc. Also, we don't need to explicitly mention `{"rgb(`.

`/

[2020-05-08 14:02] LAAP commented on #15
@agrignard and @RELNO ,

Thanks for the comments. Ok, this is my plan:

1) Reduce the types in this iteration to the "minimum - minimum - minimum"
2) Replace the rgb to ch

Question to @RELNO : What action is required to answer this: "//dynamic attr is not part of a json, it was a leftover from past discussion"? Remove the text?

Answer to @RELNO : Talking to Markus, we realize that economic is a

[2020-05-08 14:09] RELNO commented on #15
yes

I think we should be a bit more thorough here: adding economic indicator is something I'd want a module to do, not engrave it in the type itself. Also, If we go with economy, why not energy, or any other indicator?

[2020-05-08 16:04] LAAP commented on #15
@RELNO ,

Ok. Thanks. I will Change that too.

Regarding economics. Yes, a module can do the job. Same thing could happen with "density" of people and "height", however we have decided to put it in the dynamic attributes, isn't? I think that we can change the name of "economic" for other less "institutionalized" maybe "Worth" (?)

[2020-05-08 16:05] LAAP opened #22 "Reduce the types in this iteration to the "minimum - minimum - minimum""

[2020-05-08 16:05] LAAP opened #23 "Replace the rgb to ch"

[2020-05-08 16:06] LAAP opened #24 "Remove the text: "//dynamic attr is not part of a json, it was a leftover from past discussion""

[2020-05-11 11:10] doorleyr commented on #15
Thanks @LAAP. A few comments below:
- If we are going to have a density attribute, the name should make it clear what the units are. I suggest capacity_sqm. I also think this should be a required attribute.
- Whether an attribute is static or dynamic really just comes down to the front-end design (and there may be multiple FEs using the same standards). For example, the same types definitions coul

[2020-05-12 19:17] LAAP opened #25 "Classes formatting issues"
there are still some formatting issues. eg. in some cases, you have key-value pairs where the key is an object and the value is a proportion. eg.
"NAICS": {{"440000":"0.50", "450000": "0.50"}:"1"}
this is invalid json because the key of a key-value pair must be a string. You can fix the above example by changing it to:
"NAICS": {"use": {"440000":0.5, "450000": 0.5}, "proportion" :1}
I know this is

[2020-05-12 19:41] LAAP commented on #15
Thank you @doorleyr ,

1) I see. Ok. I think that the "classes" can have a predetermined "capacity_sqm". That it will be an "average factor" that a "future Land use module" will multiply or divide by the different factors to meet the needs of each project.

2) However, with that premise, we could have also the "monetary_$" static average value, that gives the "sense" of if this land use is High or

[2020-05-20 11:45] LAAP commented on #15
Hi all,
this website is important for m2 per person in amenities:
https://www.engineeringtoolbox.com/number-persons-buildings-d_118.html

[2020-05-20 15:29] LAAP commented on #15
**| CS Classes**

Dear @all, Here I share a new iteration with the latest changes, please, let me know your thoughts
Codes:

_"areapp_sqm"_= m2 per person. Source = https://www.engineeringtoolbox.com/number-persons-buildings-d_118.html

_"monetary_$"_ = ranking from “0” to “1”. “0” low value asset “1” high value asset. Source = Educated guest

_"floor_#"_ = Where the land use is likely to be place

[2020-05-20 15:31] LAAP commented on #25
Done!

[2020-05-20 15:31] #25 closed

[2020-05-20 15:31] LAAP commented on #24
Done!

[2020-05-20 15:31] #24 closed

[2020-05-20 15:31] LAAP commented on #23
Done!

[2020-05-20 15:31] #23 closed

[2020-05-20 15:32] LAAP commented on #22
Done!

[2020-05-20 15:32] #22 closed

[2020-05-20 17:33] RELNO commented on #15
@LAAP thanks -- I'm confused as to why we went back to have arbitrary fields like   "capacity_sqm", "monetary_$",  "floor_#"? Especially after the significant effort put in finding citable, widely used standards like LBCS.

(just as a side note, using ascii terms like "#" in a json is allowed, but has better chance to break when parsing given)

[2020-05-20 20:40] LAAP commented on #15
@RELNO ,

This is justa a new iteration. I think that  "capacity_sqm", "monetary_$", "floor_#" are fields that needs to be "Dynamic". However, If I am understanding correctly the needs of the team, I think that some people in the team, like @doorleyr et al. are asking about having "values" in this fields that provides information about where in the type this Class will be allocated (1st floor, 2nd

[2020-05-21 14:31] RELNO commented on #15
yes, might worth having a call on this. There's a difference between dynamic props (that could be anything, and will be added to `GEOGRIDDATA` object via user input), and what the new **_cityscope schema_** minimally requires.

[2020-05-21 14:50] LAAP commented on #15
I totally agree with you @RELNO , and that was my first approach, and that is why I leave the `GEOGRIDDATA` object input as "[?]", because.

However I understood that @doorleyr suggested, some how, to have a fixed numbers.

Maybe it is a combination of both: we can have "capacity_sqm", "monetary_S", "floor_n" as dynamic props, and in parallel, we can have a "static-default library" with this "educ

[2020-06-04 21:41] yasushisakai opened #26 "Data types for docs"
related to #15

I've briefly checked @doorleyr's ronan branch, specifically [this](https://github.com/CityScope/cityscope.github.io/blob/ronan/docs/md/Land-Use-Types.md) file and @RELNO's CityScope/CS_CityScopeJS [readme](https://github.com/CityScope/CS_cityscopeJS). and I have a question.

for writing up the data formats, how much strictness do we want? Essentially it's a JSON, so the [types](htt

[2020-06-05 21:15] RELNO commented on #26
@yasushisakai thanks. Yes, that's exactly where your input can help. My attitude would be to be strict so that parsers would have it easier. This is b/c we have multiple points of contact with the data (FE, BE, modules..) and we would want to make sure they are always getting the right data.

[2020-06-05 21:54] yasushisakai commented on #26
yeah, the frontend is by language design quite forgiving, but do you bump into situations that type checking or null's handled in a specific way will make your life easier?

[code]

 I wonder what the module makers think?

just as a side note: https://github.com/json5/json5

[2020-06-05 21:58] RELNO commented on #26
![image](https://user-images.githubusercontent.com/14296774/83925854-336c8f00-a756-11ea-9ff6-7e5d8189ff72.png)

[2020-06-07 13:12] RELNO commented on #15
## LBCS (SLUCM) to NAICS conversion

@LAAP @MarkusElKatsha:
It looks like LBCS <=> NAICS conversion is a common practice (see refs below). If so, can we avoid doing this conversion ourselves and use any other the given resources below?

See:
https://planning-org-uploaded-media.s3.amazonaws.com/legacy_resources/lbcs/background/QLBCSConvFunction2NAICS.TXT,

https://planning-org-uploaded-media.s3.ama

[2020-06-10 20:09] LAAP commented on #15
Thank you @RELNO very much for sharing,

Yes, we were aware of this correlation, and it has been used for defining the "simplified 20 classes". The mamut task was to "consolidate all this hundreds of "land uses" into only "20 classes".

In any case, we will put this links in the documentation, so people doing a more "granular" correlation and research, can have all the correlations.

Saying so,  @

[2020-06-10 20:41] LAAP commented on #15
After a eficient talk with @MarkusElKatsha , we have got in to the following conclusions:

1) NAICS are not equal to [Infogroups data](url)

2) Infogroups' database provides a very rich information related to commercial elements: From here we where expecting to obtain the number of people in the amenity, and some sort of "tax related" economic data.

3) Unfortunately, Infogroup is **NOT** a open s

[2020-09-20 22:36] RELNO commented on #15
considering https://cityscope.media.mit.edu/docs/modules/CityScope%20Types%20System it seems this issue can be closed. Specific unification issues can be opened as needed. Thanks @MarkusElKatsha @LAAP for the effort!

[2020-09-20 22:36] #15 closed

[2020-09-20 22:39] RELNO opened #29 "transfer cityIO docs/wiki into here"
@yasushisakai as discussed, please suggest the best way for you to include cityIO docs in here. The 2 options are: 1. simply move 2. copy here, and ask @crisjf to modify a GH action to keep in sync with your repo.
I see [1] simpler and cleaner, but it's up to you.

[2020-09-21 08:57] agrignard commented on #15
Great effort everyone, one of the biggest issue ever open (on Nov 2019 ;-)) and fixed

The doc looks really great, good job! Next step will be to migrate existing projet or starts new one with this standardisation.

Are  grassbrook and corktown already using it?

Happy to help for any specific part (for instance having a toy ABM structure running with this specification)

[2020-09-21 12:06] yasushisakai commented on #29
I'll move it.
I see it should be here right?
https://github.com/CityScope/cityscope.github.io/tree/new_docsite/docsite/docs/modules/cityio

 is there anything I neeed to do other than this, it looks like there is some front-matter format?
[code]

[2020-09-21 14:53] RELNO commented on #29
Yes, there's a minor flag to let the framework know how to name the article.
I think that based on https://cityscope.media.mit.edu/docs/general/CityScopeJS%20Ecosystem diagram, cityIO should have its own place as https://github.com/CityScope/cityscope.github.io/tree/new_docsite/docsite/docs/**BACKEND**/cityio, since it's agnostic to modules or frontend.

[2020-09-21 14:57] crisjf commented on #29
@yasushisakai the action should also take care if that. Let me know where your `md` file lives and I'll point the action to that location and you won't have to worry about it anymore.

[2020-09-21 15:12] yasushisakai commented on #29
ok, so if
1. I have the md files living inside the cityio repo (accessible via `raw.githubusercontent`), @crisjf 's actions can automatically populate that to this repo?
or
2. I should still put it `this/repo/docsite/docs/backend/cityio`? and manually put the front-matter

I don't have strong opinions where to put it, just want one place to edit.

[2020-09-21 15:16] crisjf commented on #29
The action does 1, and it also adds front-matter. It updated every day at midnight so any edits that you do to your master `md` file with documentation will be automatically synced here. Where is the file right now?

[2020-09-21 15:29] yasushisakai commented on #29
currently have it on the wiki, but will move it inside the cityio repo then... I will let you know when I'm done

[2020-09-21 16:08] crisjf commented on #29
We can also pull it from the wiki. Can you link it here?

[2020-09-21 16:14] RELNO commented on #29
@yasushisakai thanks. As mentioned, it's really up to you. I personally skipped that process to simply put `md` in the meta-repo, and none in the sub-repos. Do keep in mind that @crisjf script (despite being reallllllly cool ), cannot handle future changes to files and folders locations. Also, `mdx` capabilities might not work.

[2020-09-21 17:23] LAAP commented on #15
Thank you @agrignard and @RELNO  ,

I think that @MarkusElKatsha  and I are ready to keep documenting guys... and I see some conversations going on with @crisjf regarding wikies' work... So let us know if you need us somewhere else.

[2020-09-21 20:36] crisjf commented on #29
I looked at the wiki in the CityScope/CS_CityIO repo. Adding this block to the `pull_docs.yml` workflow should solve this issue. I'm happy to implement it if you guys are happy with it.

[code]

[2020-09-21 20:55] yasushisakai commented on #29
@crisjf thanks, but I would like to use this opportunity to get rid of the wiki and centralize it for access. Another thing I do think it's saner to have the *original docs* closer to the actual code. This is not meant to be referenced by for me to maintain.

commit [5a1517](https://github.com/CityScope/CS_CityIO/commit/5a15174c0615adde34d0f56ade708e45d93d750f) has the .md files inside the https:/

[2020-09-21 21:04] crisjf commented on #29
Even better. Do you want to link all the `md`s? It looks like `Home.md`, `API.md`, and `Running-it-locally.md` are the important ones. If so, then add the following block to [this yml](https://github.com/CityScope/cityscope.github.io/blob/new_docsite/.github/workflows/pull_docs.yml) file. I wrote a short wiki on the syntax [here](https://github.com/CityScope/cityscope.github.io/blob/new_docsite/do

[2020-09-21 21:05] crisjf commented on #29
Also, if you go to the Actions tab in this repo, you'll be able to run the workflow manually. Check [here](https://github.com/CityScope/cityscope.github.io/actions?query=workflow%3A%22Update+documentation+from+downstream+repos%22).

[2020-09-21 23:56] RELNO commented on #29
@yasushisakai following @crisjf comment https://github.com/CityScope/cityscope.github.io/issues/29#issuecomment-696375682, if possible I suggest we consolidate cityIO docs into one large md file. This is b/c the new doc site works well with large md files, given the treemap structure. Also, one md makes it easier to embed in @crisjf service.

[2020-09-22 13:36] yasushisakai commented on #29
got it! https://github.com/CityScope/CS_CityIO/commit/5ec07b1ecdf086efbf9a0c0587d196441311710d does this.

the single md file is located [here](https://github.com/CityScope/CS_CityIO/blob/master/docs/cityio_documentation.md) `/master/docs/cityio_documentation.md`

I'll go through typos and broken links and formatting once this workflow is established. Let me know what I'm missing

[2020-09-22 13:40] crisjf commented on #29
I'll link it. @RELNO, just fyi the action and handle multiple mds. It just joins them into one single file keeping the order of the arguments in the action.

[2020-09-22 13:46] RELNO commented on #29
@crisjf great, how's this file called at the end of the pipeline?

[2020-09-22 13:46] crisjf commented on #29
All set, the file is synced here:
https://github.com/CityScope/cityscope.github.io/tree/new_docsite/docsite/docs/backend/CityIO

@RELNO please note the capital letters [C]ity[IO]

[2020-09-22 14:19] RELNO commented on #29
Thanks both, closing

[2020-09-27 15:29] LAAP opened #30 "CityScope diagram/scheme"
Hi Everyone;

As commented on Friday, I have finished the first draft of my understanding of the CityScope diagram/scheme. It is a marged/update of 2 or 3 of the schemas that we already have:

![CityScope Schema](https://user-images.githubusercontent.com/19315213/94368868-8e831280-00b4-11eb-9aff-5c4f92021b81.jpg)

Please, let us know your thoughts

[2020-10-16 13:12] RELNO commented on #30
@LAAP I'll close for now as we moved this discussion to slack. Reopen if necessary.

[2020-10-16 13:12] #30 closed

[2020-10-16 13:20] RELNO opened #32 "Implement JS objects in Brix docs"
Following BRIX workshop, I was hoping to add our videos segments to the docs. I plan to use MDX.js - react embedding of youtube videos, like in this example: https://github.com/mdx-js/mdx/blob/master/examples/create-react-app/src/content.mdx

How would we go by doing it for your docs? Since they live in your repo, and are read by your docs site, wouldn't using MDX syntax break your doc site?

[2020-10-16 13:41] LAAP commented on #30
OK

[2020-10-16 18:49] RELNO commented on #32
@crisjf just FYI: this is how I've embedded YT video in the MDX https://github.com/CityScope/cityscope.github.io/blob/new_docsite/docsite/docs/general/intro.md#cityscope-ecosystem
You can see it's quite clean, so however we decide to do it will leave only a tiny non-pure-md footprint.

[2020-10-30 16:15] agrignard opened #33 "CityScope entry point meta_grid"
I am not sure this is the right place to right this issue.

I am working on making the bridge between GAMA and CityScope taking in example bricks.

This bridge has already been done with 2 projects corktown and grassbrook (which are still runing), in this 2 project I am using the ```meta_grid```property to initialize the table but i cannot see any ```meta_grid```field in the following url
in ```du

[2020-10-30 16:20] RELNO commented on #33
The field that is constantly updating is `GEOGRIDDATA`.  The static `GEOGRID` never changes. This is explanied here https://cityscope.media.mit.edu/docs/modules/Brix/Brix#lets-talk-data-input

[2020-10-30 16:29] agrignard commented on #33
Yep what I don't get is that Detroit still have it (but not grasbrook)
https://cityio.media.mit.edu/api/table/corktown/meta_grid

Do we consider that Detroit is not totaly compatible with the current API?

[2020-10-30 16:31] RELNO commented on #33
@agrignard cityIO do not remove old endpoints in a table, so it might still be there.
Also, @yasushisakai database recently restored very old versions of the tables, so it might be there since last time you were working on it.

[2020-10-30 16:35] agrignard commented on #33
Ok I see so should we consider corktown as deprecated?

[2020-10-30 16:40] doorleyr commented on #33
The fields that are needed are GEOGRID and GEOGRIDDATA. meta_grid shouldn't be there any more. I think what happened is cityIO crashed a while ago and then rebooted with a very old version of the corktown table data. I then added GEOGRID and GEOGRIDDATA.

[2020-10-30 16:44] RELNO commented on #33
no

[2020-10-30 16:45] RELNO commented on #33
no, it's up and running

[2020-10-30 16:47] doorleyr commented on #33
Actually, I'm just looking at the corktown table now. It was fine a week or so ago but it's been reset to a very very old table state.

[2020-10-30 16:50] RELNO commented on #33
@doorleyr this is due to cityIO backup system which repeatedly falls back to very old states. @yasushisakai, can you please advise?

[2020-10-30 16:53] agrignard commented on #33
Ok thanks @doorleyr it makes sense now, there is still meta_grid but it's not used, I Changed my model to geogrid
https://github.com/CityScope/CS_Simulation_GAMA/commit/3bf421142409cfa36de2d6d88796d1f189bcbe77

[2020-10-30 16:53] #33 closed

[2020-10-30 20:14] agrignard opened #34 "GEOGRID vs GEOGRIDATA"
In this table https://cityio.media.mit.edu/api/table/dungeonmaster/

Inside GEOGRID  each block has this properties
[code]
and inside GEOGRIDDATA each block has this properties
[code]

Do we need to repeat the information in both field? Isn't it redundant? Also the color value are different

[2020-10-30 20:28] crisjf commented on #34
It is redundant, but it gives you the option of querying `GEOGRID` only once because it never changes and just calling `GEOGRIDDATA` when you detect the table update. Ignore the `properties` in `GEOGRID` and use the ones in `GEOGRIDDATA`. `GEOGRID` should be used when you need the coordinates of the table (you need them only at init) and to get the type definitions under `GEOGRID/properties`.

[2020-10-30 20:37] RELNO commented on #34
Yes, as @crisjf mentioned the GEOGRID is state "0" of this table (i.e taboola rasa). Later states are GEOGRIDDATA

[2020-10-30 20:41] agrignard commented on #34
OK

And is it necessary to store state 0 properties in GEOGRID? I mean in term of storing size (there was a time we were arguing wether we should use int or float to save space;-) )

Also Instead of writing  issue for this kind of question  is there an entry point for the meta structure of this json so I can look at it before to post an issue?

[2020-10-30 20:52] RELNO commented on #34
It's not about storing state 0. GEOGRID is the baseline data for both geometry and meta for each grid cell.  This is how we initiate a table with all its data in one place (vs the multi fields we used to have).
GEOGRIDDATA is lighter, as it's only meta without geometry (think= old `grid` field). This allow iterations in real time with small(ish) overhead.

[2020-10-30 22:35] crisjf commented on #34
So as we think about the Handler agent in GAMA, the `GEOGRID` endpoint should be called on init, and the `GEOGRIDDATA` endpoint should be used for everything else.

[2020-11-09 15:45] crisjf commented on #34
I think we can close this, right?

[2020-11-09 15:46] crisjf opened #35 "Update FE with GAMA docs"
GAMA docs now live here:
docsite/docs/modules/Simulation_GAMA/Simulation_GAMA.md

They are part of the midnight update.

[2020-11-09 19:25] RELNO commented on #35
done with https://github.com/CityScope/cityscope.github.io/commit/4f7cec5a8b3771c26b12415694325237edfb3716

[2020-11-09 19:25] #35 closed

[2020-11-09 19:25] RELNO commented on #34
Closing for now, @agrignard open at will.

[2020-11-09 19:25] #34 closed

[2020-11-09 19:26] RELNO commented on #26
@yasushisakai let's reopen if needed upon doc-ing cityIO

[2020-11-09 19:26] #26 closed

[2020-11-17 21:14] agrignard opened #36 "Showcases & Hello World tables"
Now that the CityScope Framework seems pretty well advanced what about having a common Hello World table and a series of showcases? Right now it's difficult from the documentation (https://cityscope.media.mit.edu/) to access to existing project unless you know the name of an entry table (e.g dungeonmaster)

What about having an entry with:
1. A Hello World/Showcase something similar to volpe (a Vo

[2021-01-24 01:36] RELNO opened #38 "Mismatch in types documentation"
@LAAP as mention here,  https://github.com/CityScope/CS_cityscopeJS/issues/115, there's a slight inconsistency with how we describe "P" here: https://cityscope.media.mit.edu/docs/modules/Types%20System vs here:
<img width="1287" alt="Screen Shot 2021-01-23 at 20 35 43" src="https://user-images.githubusercontent.com/14296774/105618887-9fba0280-5dba-11eb-8dee-f0e8cf7403aa.png">

[2021-01-25 14:42] LAAP commented on #38
Hi @RELNO ,

Thanks for Asking. You are right, We could explain "proportion" a bit more in depth in the documentation. "Proportion" is equal to "P" and it is **"the percentage (%) of floors are devoted to a use in a "mixed use building/type"**. A 30% of a uses it is equal to "P": 0.3

However it is explained in "[Mixed use building](https://cityscope.media.mit.edu/docs/modules/Types%20System/#mixe

[2021-01-25 14:47] RELNO commented on #38
thanks -- can you update the docs in accordance? in terms of data format "P" and "proportion" are not the same as @takesei pointed out. I can fix the docs myself, but I don't have access to images.

[2021-01-25 14:56] LAAP commented on #38
@RELNO , Sure I will do it ASAP.
Pease, can you explain a bit more, the action needed when you say: _"in terms of data format "P" and "proportion" are not the same as @takesei pointed out."_ ?

@takesei says: _"This topic isn't covered in the document (https://cityscope.media.mit.edu/docs/modules/Types%20System) (or maybe changing its name to "P" value??), so I'm a little confused."_

I think that

[2021-01-25 15:00] RELNO commented on #38
Yeah, I think that's the reason. It's basically making sure we're all on the same page in term of the data format we exchange between the modules and the FE/BE. Thanks!

[2021-01-25 15:05] crisjf commented on #38
This is a documentation change alone, right? Or does something need to change in the way we parse the data?

[2021-01-25 15:09] RELNO commented on #38
I suspect (hope!) so.

[2021-01-25 18:20] LAAP commented on #38
@crisjf , It is just a clarification at the Documentation. No worries!

[2021-04-26 16:16] crisjf opened #45 "Doc for backend still lists miragecity"
Not sure if this is the right repo to post this issue, but I noticed we haven't updated the hostname for the examples in the API documentation. It still reads `miragecity` which was the test server.

https://cityscope.media.mit.edu/backend/API

[2021-05-07 13:41] yasushisakai commented on #45
56790c5b10edbd0e7d6a170fadf5d4e7d3b0ca40 updates this... do I need to build the site..?

[2021-05-07 13:46] RELNO commented on #45
@yasushisakai yes, that's a major (yet well hidden) drawback of this framework. I was hoping it's an md=>deploy kind of docsite, but for now we can try and set up an automated GH action to build with every master commit. @crisjf tried that before but I cannot recall why it failed.

[2021-05-07 14:44] crisjf commented on #45
it got complicated and I dropped it

will definitely revisit it once I get my life back :)

[2021-05-07 21:53] yasushisakai commented on #45
it wasn't too bad.... :)

[code]
(edited script error)

[2021-05-08 21:25] RELNO commented on #45
@yasushisakai care to take a shot into github actions?

[2021-05-08 22:46] crisjf commented on #45
This one
https://github.com/CityScope/cityscope.github.io/blob/new_docsite/.github/workflows/build_site.yml

[2021-08-06 20:49] LAAP opened #52 "Server down"
Dear @yasushisakai ,

Today the server is down. Please, can you double check it?

Thanks!

[2022-03-03 15:03] #52 closed